<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="CNX_SQL" providerName="System.Data.SqlClient" connectionString="RABhAHQAYQAgAFMAbwB1AHIAYwBlAD0ARABFAFMASwBUAE8AUAAtAEsARgBDADcAQgBPAFQAOwANAAoAIAAgACAAIAAgACAAIAAgACAASQBuAGkAdABpAGEAbAAgAEMAYQB0AGEAbABvAGcAPQBFAGMAbwBsAG8AZwBpAGEASAB1AG0AYQBuAGEAOwANAAoAIAAgACAAIAAgACAAIAAgACAAUABlAHIAcwBpAHMAdAAgAFMAZQBjAHUAcgBpAHQAeQAgAEkAbgBmAG8APQB0AHIAdQBlADsADQAKACAAIAAgACAAIAAgACAAIAAgAFUAcwBlAHIAIABJAEQAPQBzAGEAOwANAAoAIAAgACAAIAAgACAAIAAgACAAUABhAHMAcwB3AG8AcgBkAD0AMQAyADMANAA1AA==" />
  </connectionStrings>
  <appSettings>
    <add key="InsertarUsuario" value="dbo.SP_InsertarUsuario" />
    <add key="InsertarPregunta" value="dbo.SP_InsertarPregunta" />
    <add key="ActualizarPregunta" value="dbo.SP_ActualizarPregunta" />
    <add key="DeletePregunta" value="dbo.SP_DeletePregunta" />
    <add key="SelectSedes" value="dbo.SP_SelectSedes" />
    <add key="SelectProfesiones" value="dbo.SP_SelectProfesiones" />
    <add key="InsertarPerfil" value="dbo.SP_InsertarPerfil" />
    <add key="SelectPreguntasDimension" value="dbo.SP_SelectPreguntasDimension" />
    <add key="SelectPreguntasDimensionEstilo" value="dbo.SP_SelectPreguntasDimensionEstilo" />
    <add key="SelectPregunta" value="dbo.SP_SelectPregunta" />
    <add key="SelectConsejos" value="dbo.SP_SelectConsejos" />
    <add key="LoginUsuario" value="dbo.SP_LoginUsuario" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
